body{
  margin: 0px;
  padding: 0px;
  font-family: serif;
  background-color: #0073CD;

}

  header{
    background-color: #000;
    height: 55px;
  }

  #menuButton{
    display: none;
  }

  .mainMenu{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
  }

  .menuItem{
    width: 150px;
    text-align: center;
    margin: 5px;
    padding: 8px;
    list-style-type: none;
    font-size: 24px;
    /* position: relative; */

  }

  .menuItem a{
    color: #fff;
  }



  .subMenu{
    display: none;
    background-color: #000;
    list-style: none;
    position: absolute;
    top: 50px;
    right: 170px;
    border-radius: 0px 0px 10px 10px;
    z-index: 2;

  }

  .subMenu li{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: px 0px;

  }

  .subMenu a{
    display: block;
    margin-left: -20px;
    margin-right: 15px;
    text-align: center;

    font-size: 24px;
    color: #fff;
  }

  a{
    text-decoration: none;
  }

  li:hover{
    background-color: #fff;
    border-radius: 30px;

    box-shadow: 2px 2px 5px #707670;
    transition-duration: 0.7s;
    transition-timing-function:ease-in-out;
  }

  #self:hover .subMenu{
    display: block;
  }

  .menuItem:hover a:first-child{
    color: #000;
  }

  .inner:hover{
    color: #000;
  }

#downArrow{
  display: inline;
  font-size: 15px;
  vertical-align: middle;
}


.topic{
  height: 20vw;
  background-color: #fff;
  margin: 1.2vw;
  border-radius: 12px;
}

.topic:hover{
  background-color: #EBECEB;
  border-style: ridge;
  /* box-shadow: 4px 4px 8px; */
  box-shadow:  0 10px 10px -5px;
  transform: scale(1.02);
  transition-timing-function: ease-out;
  transition-duration:0.5s;
  
}

.topicImg{
  width: 20vw;
  height: 20vw;
}

.topicHeader{
  /* display: inline-block; */
  font-size: 3vw;
  position: relative;
  left: 40vw;
  top: -21vw;
}

.topicDemp{
  text-align: center;
  font-size: 1.75vw;
  font-family: cursive;
  position: relative;
  left: 6vw;
  top: -21vw;
}

.likeButton, .ShareButton {
  background-color: #5EE348;
  height: 3vw;
  width: 6.5vw;
  margin: 0vw 2vw;
  border-radius: 1vw;
  color: #000;
  position: relative;
  left: 40vw;
  top: -22vw;
  font-size: 2vw;
}


.likeButton:hover, .ShareButton:hover{
  background-color: #1BBF00;
  transition: 0.5s;
}







/* Handeling Design for Smaller Screens Like Mobile and smartphone */
@media screen and (max-width: 550px) {
  /* @media screen and (max-width: 350px) { */
  /* body{
    width: 100vh;
  } */

  header{
    height:auto;
    width: inherit;
  }
  #menuButton{
    background:#000;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: inline;
    position: absolute;
    right: 10px;
    top: 3px;

  }

  .mainMenu{
    display: none;
    flex-direction:column;
    margin-left: 40px;
    margin-top: 0px:
  }

  .menuItem{
    /* display: none; */
  }

  header: .menuItem{
    display: block;
  }
